Faker==33.0.0
fastapi==0.115.5
matplotlib==3.8.0
numpy==1.23.5
pandas==2.2.3
passlib==1.7.4
PyJWT==2.10.0
Requests==2.32.3
scikit_surprise==1.1.4
SQLAlchemy==2.0.25
gunicorn==19.7.1
uvicorn==0.22.0
jinja2==3.1.2
python-multipart==0.0.6